@font-face {    
    font-family: 'Steinberg';    
    src: url('../components/Steinberg.ttf');  
    /*credit to https://www.dafont.com/type-wrong.font */  
}
@font-face {    
    font-family: 'Comfortaa-Regular';    
    src: url('../components/Comfortaa-Regular.ttf');  
    /*credit to https://www.dafont.com/type-wrong.font */  
}

.MuiTypography-root{
    font-family: 'Steinberg';
    color: black !important;

}

.MuiFormLabel-root {
    font-family: 'Comfortaa-Regular';
    color: white !important;
}

h1 {
    font-family: 'Steinberg';
    text-align: center;
    color: white;
    
}

h2 {
    font-family: 'Steinberg';
    
}

h3 {
    font-family: 'Steinberg';
    color: black;
    text-align: center;
}

form {
    padding-left: 30px;
    text-align: center;
}

/* path {
    color: black !important;
} */

