body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #4f939f;
}


.logo {
  width: 100vw;
}

.responsive {
  width: 100%;
  height: auto;
  margin: 0 auto;
  
}

html {
  position: relative;
  min-height: 100%;
  
  }
  .content { 
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  }
  footer {
  position: relative;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  color:#FFFFFF; 
  background-color: black;
  font-size:1.5em;
  text-align: center;
  line-height:100px;
  }

.MuiButton-root {
  color: pink !important;
  background-color: #4f939f !important;
}

.contcards {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.button {
display: flex;
text-align: center;
}





